<h2>Lista de productos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Iva</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Disponible</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each products as |product|}}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.taxes}}</td>
            <td>{{product.category}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.available}}</td>
            <td>
                <a href="/products/delete/{{product._id}}" class="btn btn-danger btn-sm">Borrar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>